/.venv
/25_Materi 2_Eksplorasi dan Visualisasi Data.docx
/25_Materi 3_Mengenal dan Eksplorasi Data.docx
/25_Materi 4_Mengenal Regresi Linear.docx
/data tuhas prakmesin.csv
/hello.py
/hellonummber.py
/modul 1
/modul 1.zip
/tugasprak1.py
/tugasprak1.rar